html {
    scroll-padding-top: 80px;
}

body {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-style: normal;
    margin: 0;
    letter-spacing: 0.1vw;
    text-box-trim: trim-both;
}

:root {
  --main-width: 1200px;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #eeeeee;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 1px;
}

.scroll_up {
    transition: 0.8s ease-out;
    transform: translateY(30px);
    opacity: 0;
}

.scroll_up.on {
    transform: translateY(0);
    opacity: 1;
}
.timing02 {transition-delay: .2s;}
.timing03 {transition-delay: .4s;}
.timing04 {transition-delay: .6s;}
.timing05 {transition-delay: .8s;}

h1 {
    font-size: 38px;
    margin-top: 0;
}

h3 {
    border-left: solid 5px #3968d3;
    padding-left: 10px;
}

p {
    line-height: 1.5;
    margin: 0;
    font-weight: 500;
}

a {
    color: #3968d3;
    text-decoration: underline;
}

header {
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 999;
    position: sticky;
    top: 0;
    background-color: #ffffff;
}

header img {
    height: 40px;
    z-index: 1;
}

.Logo {
    margin-bottom: 0;
    width: var(--main-width);
    margin-left: auto;
    margin-right: auto;
}

.Logo i {
    display: none;
}

nav ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 0;
}

nav li {
    margin-top: -20px;
    transition-duration: 300ms;
    display: inline;
    font-size: 15px;
}

nav {
    width: var(--main-width);
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    margin-top: -36px;
    padding-bottom: 11px;
}

nav a {
    position: relative;
    color: #000000;
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
    transition: all .3s ease-out;
}

nav a:hover {
    color: #3968d3;
}

nav a::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #3968d3;
    bottom: -1px;
    transform: scale(0,1);
    transform-origin: center top;
    transition: transform 0.3s;
}

nav a:hover::after {
    transform: scale(1,1)
}

.link .fa-brands {
    margin-left: 10px;
    color: #000;
    transition: all .2s ease-out;
    position: relative;
    cursor : pointer;
}

.link .fa-twitter:hover {
    color: #00acee;
}

.link .fa-youtube:hover {
    color: #c4302b;
}

.link .fa-s:hover {
    color: #f0a328;
}

section {
    width: var(--main-width);
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

article{
    padding-top: 80px;
    padding-bottom: 80px;
}

h2 {
    font-weight: 400;
    font-size: 35px;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
}

h2 p {
    font-size: 12px;
}

#index-photo {
    background-image: url("../img/Index/DSC_0274.JPG");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    position: relative;
}

.sentence {
    writing-mode: vertical-rl;
    position: absolute;
    display: block;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%) translateY(50%);
    height: 95%;
    width: var(--main-width);
}

#index-photo h2,#index-photo p {
    display: inline-block;
    margin: 0;
    color: #000;
    background-color: #ffffff;
    text-align: left;
    font-weight: 900;
    padding: 10px;
}

#index-photo h2 {
    font-size: 3vh;
    padding-bottom: 1vw;
}

#index-photo p {
    font-size: 2vh;
    padding-bottom: 1vw;
}

.fa-angle-down {
    font-size: 4vh;
    z-index: 999;
    color: #ffffff;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s ease-out;
    opacity: 0.3;
}

.fa-angle-down:hover {
    opacity: 0.5;
}

.index-sentence {
    font-size: 20px;
    text-align: center;
}

.index-works {
    display: flex;
    justify-content: space-between;
}

.index-works a {
    position: relative;
    overflow: hidden;
    width: 32%;
    height: 175px;
    text-decoration: none;
}

.index-works a:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
    filter: grayscale(75%) blur(1vh);
}

#fake:after {
    background: url(../img/Index/DSC_7485.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

#picture:after {
    background: url(../img/Index/DSC_3105.JPG) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

#blog:after {
    background: url(../img/Index/DSC_3252.JPG) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

.index-works a:hover:after {
    filter: grayscale(0%) blur(1vh);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.index-works a h3 {
    font-size: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    text-decoration: none;
    color: #ffffff;
    padding-right: 210px;
    top: 50%;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    text-shadow: 0 0 2px #000000;
    transform: translateY(-50%);
    border: none;
}

.side_by_side_container {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
}

.side_by_side {
    padding-bottom: 30px;
}

.side_by_side h2 {
    padding-left: 5px;
}

.history {
    width: 50%;
}

.history h2,.blog h2 {
    font-size: 25px;
}

.history ul {
    list-style: none;
    padding: 0;
    overflow-y: scroll;
    margin-right: -10px;
    margin-bottom: -10px;
    margin-top: -10px;
    height: 150px;
}

.history li {
    padding: 20px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #ffffff;
    position: relative;
}

.history li:hover {
    opacity: 0.8
}

.history .site {
    transition: .3s ease-out;
    background-color: #aaaaaa;
}

.history .site div {
    display: flex;
}

.history .site .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.history p {
    margin-top: 10px;
}

.index_tag {
    font-size: 12px;
    color: #ffffff;
    padding: 2px 10px 2px 10px;
    border: solid 1px #ffffff;
}

.index_tag_news {
    font-size: 12px;
    color: #000;
    padding: 2px 10px 2px 10px;
    border: solid 1px #ffffff;
    background-color: #ffffff;
    margin: 0 5px;
}

.history ul a {
    text-decoration: none;
}

time {
    font-size: 12px;
    color: #ffffff;
    border-radius: 10px;
    padding: 2px 20px;
    margin-right: 7px;
}

.blog {
    width: 50%;
}

.blog .contents .img {
    overflow: hidden;
    height: auto;
    flex-shrink: 0;
    display: flex;
}

.blog .contents img {
    transform: scale(1.0);
    transition: all .3s ease-out;
}

.blog .contents:hover img {
    transform: scale(1.1);
}

.contents {
    padding: 10px;
    margin: 10px;
    background-color: #eeeeee;
    height: 150px;
}

.blog .contents {
    display: flex;
}

.new_blog {
    transition: .3s ease-out;
    height: 150px;
    margin-left: 10px;
}

.new_blog h3 {
    border: none;
    padding: 0;
}

.new_blog time {
    margin-left: 7px;
    background-color: #3968d3;
}

#limited-text {
    font-size: 15px;
}

.L1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.L2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.swipe {
    clear: both;
}

.swiper {
    width: 100%;
    height: auto;
}

.swiper-slide img {
    width: 100%;
}

.index-picture {
    margin-bottom: 0;
}






.sub {
    width: var(--main-width);
    margin: auto;
    height: 200px;
    padding: 0;
    display: flex;
    align-items: center;
    border-bottom: solid 2px #3968d3;
}

.sub .title {
    margin-left: 2.5%;
}

.sub .title h2,.sub .title p {
    text-align: left;
    display: block;
    margin: 0;
    margin-top: 4px;
    color: #000;
}

.sub .title h2 {
    position: relative;
    font-size: 70px;
    font-weight: 900;
}

.bread {
    width: var(--main-width);
    margin: 5px auto;
}

.bread a {
    color: #000;
    text-decoration: none;
    margin: 0 10px;
}

.bread a:first-child {
    margin-right: 10px;
    margin-left: 0;
}






.blogA {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 5px;
}

.list_blog {
    width: calc(100% / 4 - 5px);
}

.list_blog h3 {
    border: none;
    padding: 0;
}

.list_blog a {
    text-decoration: none;
    color: #000;
}

.list_blog .img {
    width: calc(100% - 30px);
    aspect-ratio: 4 / 3;
    margin: 15px 15px 0 15px;
    border-radius: 15px;
    overflow: hidden;
}

.list_blog img {
    width: 100%;
    transition: all .3s ease-out;
    transform: scale(1.0);
}

.list_blog:hover img {
    transform: scale(1.1)
}

.list_blog .new_blog{
    margin: 15px;
    height: auto;
}

#limited-text2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

#last-time {
    font-size: 13px;
    margin-top: 15px;
}



.profil , .links {
    display: flex;
}

.profil {
    gap: 5px;
}

.profil div {
    width: 20%;
}

.profil table {
    width: 80%;
}

.links table {
    width: 100%;
}

.profil tr , .links tr {
    border-bottom: solid 1px #eeeeee;
}

.profil th , .links th {
    margin: 5px 0;
}

.profil div img {
    width: 100%;
}

.profil th div , .links th div {
    width: 100%;
    text-align: left;
}

.profil th div i { 
    padding: 0; !important!
    color: #000000;
    margin-right: 5px;
}

.profil table tr , .links table tr {
    display: flex;
    align-items: center;
    text-align: left;
}

.profil table tr th:first-child , .links table tr th:first-child {
    width: 20%;
    display: block;
    font-size: 12px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.links table tr th:first-child a img {
    width: 100%;
    display: block;
    height: auto;
}

.links tr th:first-child {
    margin-right: 5px;
}

.ul div {
    margin: 10px 0;
}






#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}

#page-top a {
    background-color: #3968d3;
    text-decoration: none;
    color: #fff;
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 100%;
    opacity: 0.9;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-top i {
    font-size: 25px;
    display: block;
}

#page-top a:hover {
    background-color: #7da1f5;
}

footer {
    clear: both;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #eeeeee;
    text-align: center;
}

.active {
  opacity: 1;
  visibility: visible;
}









@media (max-width: 1300px) {
    body {
        font-size: 1.5vh;
        padding-bottom: 6vw;
    }
    
    .top {
        display: flex;
        flex-direction: column-reverse;
    }
    
    header {
        padding-bottom: 1vw;
        padding-top: 1vw;
        margin-top: 0;
        margin-bottom: 0;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        top: auto;
        width: 90%;
        background-color: rgba(255, 255, 255, 0);
    }

    .Logo {
        margin-bottom: 0;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .Logo img {
        display: none;
    }
    
    nav {
        width: 100%;
        margin: 0 auto;
        padding: 1vw;
        background-color: rgba(255, 255, 255, 0.1);
        border: 0.1vw solid rgba(255, 255, 255, 0.4);
        border-right-color: rgba(255, 255, 255, 0.2);
        border-bottom-color: rgba(255, 255, 255, 0.2);
        border-radius: 99999px;
        -webkit-backdrop-filter: blur(2vw);
        backdrop-filter: blur(2vw);
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    }

    nav ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        font-size: 0;
        white-space: nowrap;
        overflow: hidden;
    }

    nav li {
        margin: 0 1vw;
        transition-duration: 300ms;
        display: block;
        font-size: clamp(12px, 3.2vw, 30px);
    }
    
    nav li i {
        display: block;
    }

    nav {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: right;
        margin-top: -3.6vw;
        padding-bottom: 1.1vw;
    }

    nav a {
        position: relative;
        color: #ffffff;
        text-decoration: none;
        padding: 1vw;
        margin-left: 1vw;
        transition: all .3s ease-out;
    }

    nav a:hover {
        color: #3968d3;
    }

    nav a::after {
        display: none
    }
    
    .fa-solid.fa-house {
        display: inline-block;
    }

    .link .fa-brands {
        margin-left: 1vw;
        color: #ffffff;
        transition: all .2s ease-out;
        position: relative;
        cursor : pointer;
    }
    
    .sentence {
        width: 90%;
    }
    
    h2 {
        font-size: 3.5vh;
    }
    p {
        font-size: 2.5vh;
    }
    
    .index-sentence {
        display: none;
    }
    
    section {
        width: 90%;
    }
    
    article {
        padding-top: 0;
        padding-bottom: 0;
    }
    
    #index-photo {
        height: 100vh;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #index-photo h2,#index-photo p {
    }
    
    .works h2 {
        margin-top: 3vh;
        text-align: center;
    }
    
    /*
    .index-works a:after {
        filter: grayscale(0) blur(0);
    }
    .index-works a:hover:after {
        filter: grayscale(0) blur(0);
    }
    
    .index-works {
        margin-top: 3vh;
        margin-bottom: 0;
    }

    .index-works a {
        margin-bottom: 3vh;
        height: 40vw;
    }
    
    .index-works a h3 {
        padding-right: 0;
        text-align: center;
        font-size: 6vw;
    }
    
    #fake:after {
        background: #d3397a;
    }

    #picture:after {
        background: #39d345;
    }

    #blog:after {
        background: #d3c739;
    }
    */
    
    #side_by_side {
        float: ;
    }
    
    .history {
        width: 100%;
    }
    
    .blog {
        width: 100%;
    }
    
    .new_blog h3 {
        font-size: 2vh;
    }
    
    .new_blog #limited-text p{
        font-size: 2vh;
    }
    
    .L2 {
        -webkit-line-clamp: 4;
    }
    
    #page-top {
      position: fixed;
      bottom: 4vh;
      right: 4vh;
      font-size: 2.8vh;
      line-height: 1;
      z-index: 999;
    }
}

